body {
  display: flex;
  flex-wrap: wrap;
}

header {
  display: flex;
  flex-wrap: wrap;
  min-width: 97vw;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
}

.Inicial {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.divisao {
  width: 95vw;
  display: flex;
  justify-content: space-between;
  margin-top: 0.01rem;
  margin-bottom: 0.5rem;
}

nav {
  margin-bottom: 1rem;
  justify-content: space-between;
  padding: 0rem 0rem 1rem 0rem;
  display: flex;
  width: 95vw;
  flex-direction: row;
}

nav div {
  display: flex;
  flex-wrap: wrap;
}

.link {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
  padding: 0 0.4rem;

  font-size: 1rem;
  font-family: sans-serif;
  border-radius: 0.4rem;
  background-color: #ffffff;
}

.linkSobre {
  font-weight: 500;
  text-decoration: none;
  padding: 0px 3px;
  border-radius: 6px;
  color: #ffffff;
  background-color: rgb(38, 38, 38);
}

.link:hover {
  border: 0.1rem solid #646cff;

}

.linkSobre:hover {
  border: 0.1rem solid black;

}

.container {
  background-color: rgb(168, 241, 217);
}

.sapatos {
  background-color: rgb(97, 97, 231);
}

.ver {
  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  font-family: sans-serif;
  background-color: #9238e7;
  padding: 1rem 0.7rem;
  border-radius: 0.4rem;
}

.ver:hover {
  border: 1px solid blueviolet;
}

body {
  margin: 0;
  display: flex;
  padding: 1.5rem;
  min-width: 20rem;
  min-height: 100vh;
}

h1 {

  font-size: 2em;
  line-height: 1.1;
}

button {
  color: white;
  border: none;
  background-color: rgb(45, 45, 45);
  font-size: 1.3rem;
  padding: 0.6rem 0.9rem;
  border-radius: 0.45rem;
}

button:hover {
  border: 0.1rem solid black;
}

#roupas {
  background-color: rgb(187, 144, 227);
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }


}

.link {
  padding: 1rem;
}

ul li {
  list-style: none;
}

.promocoes {
  padding: 0 2.5rem;
}

img {
  height: 14rem;
  width: 17rem;
  max-width: 17rem;
}


.gradient-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9rem;
  font-size: 3rem;
  font-weight: bold;
  background-image: linear-gradient(45deg, rgb(207, 161, 247), rgb(55, 5, 255));
  -webkit-background-clip: text;
  /* Para navegadores baseados em WebKit */
  color: transparent;
  line-height: 30vh;
  margin-top: 4rem;
  max-width: 85%;

}

.inc {
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  justify-content: space-between;
}