body {
  display: flex;
  flex-wrap: wrap;
}

.link {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  padding: 0px 3px;
  border-radius: 6px;
  background-color: #ffffff;
}

.linkSobre {
  font-weight: 500;
  text-decoration: inherit;
  padding: 0px 3px;
  border-radius: 6px;
  background-color: rgb(38, 38, 38);
}

.link:hover {
  border: 0.1rem solid #646cff;

}

.linkSobre:hover {
  border: 0.1rem solid black;

}

.container {
  background-color: rgb(168, 241, 217);
}

.sapatos {
  background-color: rgb(97, 97, 231);
}

.ver {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  font-family: sans-serif;
  background-color: rgb(177, 118, 232);
  padding: 10px 15px;
  border-radius: 6px;
}

body {
  margin: 0;
  display: flex;
  padding: 1.5rem;
  min-width: 20rem;
  min-height: 100vh;
}

h1 {

  font-size: 2em;
  line-height: 1.1;
}

button {
  color: white;
  border: none;
  background-color: rgb(45, 45, 45);
  font-size: 1.3rem;
  padding: 0.6rem 0.9rem;
  border-radius: 0.45rem;
}

button:hover {
  border: 0.1rem solid black;
}

#roupas {
  background-color: rgb(187, 144, 227);
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }


}

.link {
  padding: 1rem;
}

ul li {
  list-style: none;
}

.promocoes {
  padding: 0 2.5rem;
}

img {
  height: 14rem;
  width: 17rem;
  max-width: 17rem;
}